* {
  box-sizing: border-box;
}
main {
  font-family: 'Nanum Gothic', sans-serif;
  padding: 5em;
}
@media (max-width: 767px){
  main {
    padding: 1.5em;
  }
}

header {
  text-align: center;
}

section {
 
}

h2 {
  text-align: center;
}

#description {
  text-align: center;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.single-row {
  display: flex; 
  justify-content: flex-start;
}
@media (max-width: 767px){
  .single-row, .columns {
    display: block;
  }
}

.form-group {
  display: block;
  margin-bottom: 1.5em;
}

.column {
  flex-basis: 48%;
}

#number {
  width: 30%;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 0.5em;
}

.single-row label, .price, .single-row select {
  flex-basis: auto;
  display: inline;
}

@media (max-width: 767px){
  .single-row label {
    display: block;
  }
}

.required {
  color: #dc0000;
}

input, textarea, button {
  padding: 0.5em;
  font-size: 1em;
  display: block;
  width: 100%
}
.price input {
  width: 80%;
  display: inline-block;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
  margin-bottom: 1em;
}

.radios label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.radios input {
  width: auto;
  float: left;
  margin-right: 0.5em;
}

#dropdown {
  height: 34px;
  border: 1px solid #ccc;
  padding: 0.5em;
  font-size: 0.85em;
}

.checkboxes input {
  display: inline;
  width: auto;
  margin-right: 0.5em;
}

textarea {
  width: 90%;
  height: 150px;
  font-family: 'Nanum Gothic', sans-serif;
}

button {
  display: inline;
  width: auto;
  background-color: rgb(50, 182, 62);
  color: #fff;
  border: 0;
  padding: 0.5em 2em;
}
button:hover, button:focus {
  background: rgb(31,112,44); /* Old browsers */
background: -moz-linear-gradient(top, rgba(50,182,62,1) 0%, rgba(31,112,44,1) 84%, rgba(31,112,44,1) 84%, rgba(31,112,44,1) 88%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(50,182,62,1) 0%,rgba(31,112,44,1) 84%,rgba(31,112,44,1) 84%,rgba(31,112,44,1) 88%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(50,182,62,1) 0%,rgba(31,112,44,1) 84%,rgba(31,112,44,1) 84%,rgba(31,112,44,1) 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32b63e', endColorstr='#1f702c',GradientType=0 ); /* IE6-9 */

}

footer {
  text-align: center;
}